# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
data1 = [[1,2,3,4,5,6,7,8,9,10]]
series1 = pd.Series(data1)
print(series1)

0    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
dtype: object

# Q3 Create a Pandas DataFrame that contains the following data:


# Name
# Alice
# Bob
# Claire

# Age
# 25
# 30
# 27

# Gender
# Female
# Male
# Female   
# Then, print the DataFrame.

In [9]:
dataframe = {"Name" :["Alice" , "Bob" , "Claire"] ,
          "Age" :[ 25 , 30 , 27] ,
          "Gender" : ["Female" , "Male" , "Female"]}

In [10]:
df = pd.DataFrame(dataframe)

In [11]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


In Pandas, a DataFrame is a 2-dimensional tabular data structure that consists of rows and columns. It is similar to a spreadsheet or SQL table, where each column represents a variable, and each row represents an observation or record. DataFrames are the primary data structure used in Pandas for data manipulation and analysis.

On the other hand, a Series is a 1-dimensional data structure in Pandas. It can be thought of as a labeled array or a single column of a DataFrame. Each element in a Series has an associated label, known as the index. Series are useful for representing a single feature or variable, and they can be combined to form a DataFrame.

In [16]:
#ex of series 
pw = [1,2,3,45,]
dd = pd.Series(pw)
print(dd)

0     1
1     2
2     3
3    45
dtype: int64

In [17]:
# ex of dataframe
class1 =  {"Name" :["Alice" , "Bob" , "Claire"] ,
          "Age" :[ 25 , 30 , 27] ,
          "Gender" : ["Female" , "Male" , "Female"]}
vv = pd.DataFrame(class1)
print(vv)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [7]:
# Pandas is a powerful library in Python used for data manipulation and analysis. It provides numerous functions to manipulate data within a DataFrame. Some common functions include:

#  filter: Used to filter rows based on certain conditions.
# Assuming 'df' is the DataFrame
# filtered_df = df[df['age'] > 25]
# This filters the DataFrame to include only the rows where the 'age' column value is greater than 25.



# groupby: Used to group data based on specific columns and perform aggregate functions on the groups.
# # Assuming 'df' is the DataFrame
# grouped_df = df.groupby('category')['price'].mean()
# This groups the data by the 'category' column and calculates the average price for each category.




# sort_values: Used to sort the DataFrame based on one or more columns.
# # Assuming 'df' is the DataFrame
# sorted_df = df.sort_values(by='date', ascending=True)
# This sorts the DataFrame based on the 'date' column in ascending order.



# rename: Used to rename columns in the DataFrame.
# # Assuming 'df' is the DataFrame
# df = df.rename(columns={'old_name': 'new_name'})
# This renames the column 'old_name' to 'new_name' in the DataFrame.



# drop: Used to remove columns or rows from the DataFrame.
# # Assuming 'df' is the DataFrame
# df = df.drop(columns=['unwanted_column'])
# This drops the 'unwanted_column' from the DataFrame.



# merge: Used to combine two DataFrames based on common columns
# # Assuming 'df1' and 'df2' are two DataFrames
# merged_df = pd.merge(df1, df2, on='common_column')
# This merges the two DataFrames based on the 'common_column'.


# fillna: Used to fill missing values in the DataFrame with a specified value.
# # Assuming 'df' is the DataFrame
# df['column_with_missing_values'] = df['column_with_missing_values'].fillna(0)
# This fills the missing values in the specified column with 0.



# apply: Used to apply a function to elements in a DataFrame.
# # Assuming 'df' is the DataFrame
# df['new_column'] = df['existing_column'].apply(lambda x: x * 2)
# This creates a new column 'new_column' where each value is twice the corresponding value in 'existing_column'.

 # Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, the Series and DataFrame are mutable, while the Panel is not mutable.

Series: A Series is a one-dimensional labeled array, similar to a column in a spreadsheet. You can modify the values in a Series after it is created. For example, you can change individual elements, add or remove elements, or update the entire Series.

DataFrame: A DataFrame is a two-dimensional labeled data structure, like a spreadsheet or a SQL table. It consists of multiple Series arranged in columns. DataFrames are also mutable, meaning you can modify their contents, add or delete columns, and perform various data manipulations on them.

Panel: A Panel is a three-dimensional data structure, which is less commonly used compared to Series and DataFrame. It is like a 3D version of a DataFrame. However, Panels are not mutable. Instead, they are designed to be used primarily for certain specialized data analysis tasks.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:

import pandas as pd

student_name = pd.Series(["alice" , "shyam" , "ram" , "piyush"])

student_age = pd.Series([12 , 34 , 43 , 56])

df = pd.DataFrame({"Name" : student_name , "Age" : student_age})


print(df)

     Name  Age
0   alice   12
1   shyam   34
2     ram   43
3  piyush   56

In [14]:
import pandas as pd

# Sample data in Series
student_names = pd.Series(['Alice', 'Shyam', 'Ram', 'Piyush'])
student_ages = pd.Series([12, 34, 43, 56])

# Create a DataFrame using the two Series
df = pd.DataFrame({'Name': student_names, 'Age': student_ages})

# Display the DataFrame
print(df)

     Name  Age
0   Alice   12
1   Shyam   34
2     Ram   43
3  Piyush   56